.menu_style {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: dimgray;
    font-size: medium;
    font-weight: 500;
    font-family: "Gill Sans", sans-serif;
}

.menu_title {
    width: 40%;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}

.menu_box { 
    margin: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 3px 3px 5px 2px lightgray;
    border-radius: 10px;
}